.contenedor {
  background-color: #f5f5f5;
  border: 2px dashed #ccc;
  margin: 20px;
  padding: 10px;
  height: 150px;
}

.contenedor div {
  background-color: #0d6efd;
  color: white;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}
